/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Your Code Goes Here */
.content-container p {
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.content-container .tabs-container {
  margin: 4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.content-container .tabs-container .tabs-link {
  width: 18rem;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  border: 1px solid black;
  padding: 1rem 0;
  cursor: pointer;
}
.content-container .tabs-container .tabs-link:hover {
  background-color: steelblue;
  color: white;
}
.content-container .tabs-content-container {
  display: flex;
  margin-bottom: 4rem;
}
.content-container .tabs-content-container .tabs-content-left {
  display: none;
}
.content-container .tabs-content-container .tabs-content-right {
  display: none;
}
.content-container .tabs-content-container .tabs-content-selected {
  display: flex;
  flex-direction: column;
}
.content-container .tabs-content-container .tabs-content-selected h2 {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.content-container .tabs-content-container .tabs-content-selected p {
  width: 95%;
  font-size: 1.6rem;
  line-height: 2.5rem;
}
.content-container .tabs-content-container .tabs-content-selected img {
  margin-top: 4rem;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
}
.container {
  position: relative;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.container .header-container {
  padding: 2rem 8rem;
  background-color: lightslategray;
  display: flex;
  justify-content: space-between;
}
.container .header-container h2 {
  font-weight: bold;
  font-size: 2.4rem;
  color: white;
}
.container .header-container .dropdown {
  z-index: 2;
}
.container .header-container .dropdown .dropdown-content {
  position: fixed;
  margin: 0 auto;
  left: 0;
  top: 6.5%;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  text-align: center;
  background-color: #A3ADB7;
  opacity: 0.9;
}
.container .header-container .dropdown .dropdown-content .dropdown-link {
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.container .header-container .dropdown .dropdown-content .dropdown-link:hover {
  color: white;
}
.container .header-container .dropdown .dropdown-hidden {
  display: none;
}
@media (max-width: 510px) {
  .container .header-container .dropdown {
    padding: 2rem 1rem;
  }
}
.container .jumbotron-container {
  position: relative;
}
.container .jumbotron-container img {
  width: 100%;
}
.container .jumbotron-container h1 {
  line-height: 7.5rem;
  color: white;
  font-weight: bold;
  position: absolute;
  font-size: 6.5rem;
  bottom: 8%;
  left: 8%;
}
@media (max-width: 510px) {
  .container .jumbotron-container h1 {
    font-size: 5.3rem;
    line-height: 6.5rem;
    bottom: 10%;
    left: 6%;
  }
}
.container .content-container {
  padding: 5% 8%;
}
.container .content-container .home-top-content-container {
  display: flex;
  margin-bottom: 8rem;
}
.container .content-container .home-top-content-container img {
  width: 50%;
}
@media (max-width: 510px) {
  .container .content-container .home-top-content-container img {
    width: 100%;
  }
}
.container .content-container .home-top-content-container .home-top-content {
  padding-right: 4%;
}
.container .content-container .home-top-content-container .home-top-content h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: bold;
}
@media (max-width: 510px) {
  .container .content-container .home-top-content-container .home-top-content h3 {
    text-align: center;
  }
}
.container .content-container .home-top-content-container .home-top-content p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}
.container .content-container .home-top-content-container .home-top-content .home-page-button-container {
  display: flex;
}
.container .content-container .home-top-content-container .home-top-content .home-page-button-container .home-page-button {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  border: 1px solid black;
  padding: 1rem 2.8rem;
}
@media (max-width: 510px) {
  .container .content-container .home-top-content-container .home-top-content .home-page-button-container .home-page-button {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2.4rem;
  }
}
@media (max-width: 510px) {
  .container .content-container .home-top-content-container .home-top-content {
    padding-right: 0;
  }
}
@media (max-width: 510px) {
  .container .content-container .home-top-content-container {
    flex-direction: column-reverse;
  }
}
.container .content-container .home-middle-content-container {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8rem;
}
.container .content-container .home-middle-content-container img {
  width: 50%;
}
@media (max-width: 510px) {
  .container .content-container .home-middle-content-container img {
    width: 100%;
  }
}
.container .content-container .home-middle-content-container .home-middle-content {
  padding-left: 5%;
}
.container .content-container .home-middle-content-container .home-middle-content h3 {
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 2.8rem;
  font-weight: bold;
}
@media (max-width: 510px) {
  .container .content-container .home-middle-content-container .home-middle-content h3 {
    text-align: center;
    font-size: 3.2rem;
  }
}
.container .content-container .home-middle-content-container .home-middle-content p {
  font-size: 1.6rem;
  line-height: 2.4rem;
  margin-bottom: 4rem;
}
.container .content-container .home-middle-content-container .home-middle-content .home-page-button-container {
  display: flex;
}
.container .content-container .home-middle-content-container .home-middle-content .home-page-button-container .home-page-button {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  border: 1px solid black;
  padding: 1rem 2rem;
}
@media (max-width: 510px) {
  .container .content-container .home-middle-content-container .home-middle-content .home-page-button-container .home-page-button {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    font-size: 2.4rem;
  }
}
@media (max-width: 510px) {
  .container .content-container .home-middle-content-container .home-middle-content {
    padding-left: 0;
  }
}
@media (max-width: 510px) {
  .container .content-container .home-middle-content-container {
    flex-direction: column-reverse;
  }
}
.container .content-container .recent-projects h3 {
  margin-bottom: 4rem;
  font-size: 2.8rem;
  font-weight: bold;
}
.container .content-container .recent-projects .project {
  margin-bottom: 6rem;
  display: flex;
  flex-direction: column;
}
.container .content-container .recent-projects .project p {
  font-size: 2rem;
  padding: 3rem 22%;
  line-height: 2.4rem;
}
@media (max-width: 510px) {
  .container .content-container .recent-projects .project p {
    padding: 3rem 0%;
  }
}
.container .content-container .recent-projects .project .project-image-container {
  padding-bottom: 5rem;
  position: relative;
}
.container .content-container .recent-projects .project .project-image-container img {
  width: 100%;
}
@media (max-width: 510px) {
  .container .content-container .recent-projects .project .project-image-container img {
    height: 20rem;
  }
}
.container .content-container .recent-projects .project .project-image-container h4 {
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  position: absolute;
  bottom: 6%;
  right: 0%;
  background-color: lightgray;
  padding: 3rem 7%;
}
@media (max-width: 510px) {
  .container .content-container .recent-projects .project .project-image-container h4 {
    text-align: center;
    width: 90%;
    bottom: -7%;
    right: 5%;
  }
}
.container .content-container .recent-projects .project .project-image-container h5 {
  font-size: 2.8rem;
  letter-spacing: 0.5rem;
  position: absolute;
  bottom: 6%;
  left: 0%;
  background-color: lightgray;
  padding: 3rem 7%;
}
@media (max-width: 510px) {
  .container .content-container .recent-projects .project .project-image-container h5 {
    text-align: center;
    width: 90%;
    bottom: -7%;
    left: 5%;
  }
}
.container footer {
  background-color: gray;
  padding: 5rem 5% 0 5%;
  display: flex;
  flex-direction: column;
}
.container footer .footer-top {
  display: flex;
  justify-content: space-between;
}
.container footer .footer-top .footer-email-container h4 {
  color: white;
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
@media (max-width: 510px) {
  .container footer .footer-top .footer-email-container h4 {
    line-height: 3rem;
  }
}
.container footer .footer-top .footer-email-container p {
  padding: 1rem 0;
  color: white;
  font-size: 1.2rem;
}
@media (max-width: 510px) {
  .container footer .footer-top .footer-email-container p {
    padding-top: 2rem;
  }
}
.container footer .footer-top .footer-email-container input {
  height: 4rem;
  width: 100%;
  border-radius: 5px;
}
@media (max-width: 510px) {
  .container footer .footer-top {
    flex-direction: column;
  }
}
.container footer .company-location h4 {
  font-size: 2.4rem;
  color: white;
  font-weight: bold;
  padding-bottom: 5px;
}
.container footer .company-location p {
  color: white;
  font-size: 1.6rem;
  line-height: 2.8rem;
}
@media (max-width: 510px) {
  .container footer .company-location {
    margin: 1.5rem 0;
  }
}
.container footer .footer-bottom {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
}
.container footer .footer-bottom h6 {
  padding: 3rem 0 1rem 7%;
  font-size: 1.2rem;
  color: white;
}
@media (max-width: 510px) {
  .container footer .footer-bottom h6 {
    padding: 3rem 0 1rem 0;
  }
}
@media (max-width: 510px) {
  .container footer .footer-bottom {
    justify-content: flex-start;
  }
}
@media (max-width: 510px) {
  .container footer {
    padding: 5% 5% 0 5%;
  }
}
