/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */

html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,
b,u,i,center,
dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,
time,mark,audio,video{
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{
  display:block;
}
body{
  line-height:1;
}
ol,ul{
  list-style:none;
}
blockquote,q{
  quotes:none;
}
blockquote:before,blockquote:after,
q:before,q:after{
  content:’’;
  content:none;
}
ins{
  text-decoration:none;
}
del{
  text-decoration:line-through;
}

table{
  border-collapse:collapse;
  border-spacing:0;
}

/* Your Code Goes Here */
//initial commit

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Roboto, Arial, sans-serif;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
    .header-container {
        // border: 1px solid red;
        padding: 2rem 8rem;
        background-color: lightslategray;
        display: flex;
        justify-content: space-between;
        h1 {
          // border: 1px solid red;
          font-weight: bold;
          font-size: 2.4rem;
          color: white;
        }
        .dropdown-content {
          display: flex;
          flex-direction: column;
        }
        .dropdown-hidden {
          display: none;
        }
    }
  
    .jumbotron-container {
      position: relative;
      h2 {
        line-height: 7.5rem;
        color: white;
        font-weight: bold;
        position: absolute;
        font-size: 6.5rem;
        bottom: 8%;
        left: 8%;
      }
    }

    .content-container {
      padding: 5% 8%;
      // border: 1px solid red;
      .home-top-content-container {
        display: flex;
        margin-bottom: 8rem;
        // border: 1px solid blue;
        .home-top-content {
          // border: 1px solid orange;
          padding-right: 4%;
          h3 {
            margin-top: 4rem;
            margin-bottom: 2rem;
            // border: 1px solid red;
            font-size: 2.8rem;
            font-weight: bold;
          }
          p {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 4rem;
          }
          .home-page-button {
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
            border: 1px solid black;
            padding: 1rem 2.8rem;
          }
        }
      }

      .home-middle-content-container {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 8rem;
        // border: 1px solid blue;
        .home-middle-content {
          // border: 1px solid orange;
          padding-left: 5%;
          h3 {
            margin-top: 4rem;
            margin-bottom: 2rem;
            // border: 1px solid red;
            font-size: 2.8rem;
            font-weight: bold;
          }
          p {
            font-size: 1.6rem;
            line-height: 2.4rem;
            margin-bottom: 4rem;
          }
          .home-page-button {
            color: black;
            text-decoration: none;
            font-size: 1.6rem;
            border: 1px solid black;
            padding: 1rem 2.8rem;
          }
        }
      }


    //   <div class="home-middle-content-container">
    //   <div class="home-middle-content">
    //     <h3>Futuristic Designs</h3>
    //     <p>Et sed autem causae appareat, tempor abhorreant te mei, facer facilisis sit ea. Eu timeam vidisse consectetuer sed. Duo etiam laboramus dissentiet in, nec no errem</p>
    //     <a href="#" class="home-page-button">View Designs</a>
    //   </div>
    //   <img src="img/home/home-img-2.png">
    // </div>



    }


}





